/* === RESET === */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-title);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* === VARIABLES === */
:root {
    /* fonts */
    --font-title: 'Roboto', sans-serif, serif;
    --font-paragraph: 'DM Sans',  sans-serif, serif;
    --font-alternative: 'Montserrat', sans-serif, serif;

    /* colors */ 
    --primary-color: #5567EE;
    --section-color: #F9F9F9;

}

/* === DEFAULT === */
.bd-grid {
    width: 100%;
    max-width: 1024px;
    margin:auto;
}

/* === HEADER === */
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 0;
    border-bottom: 1px solid #E5E5E5;
    background: #fff;
    z-index: 1000;
}

.nav__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo .icon-logo {
    font-size: 3.5rem;
    color: var(--primary-color);
}

.nav__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    padding: 0 2rem;
}

.menu__link {
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #000;
}

.menu__link:hover {
    color: var(--primary-color);
}

/* === Menu Burger === */
#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    position: relative;
    display: block;
    height: 1.5rem;
    width: 2.6rem;
    cursor: pointer;
}

label span {
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 30px;
    background: #000;
    transition: 0.22s ease-in-out;
}

label span:nth-child(1) {
    top: 0;    
}

label span:nth-child(2) {
    top: 8px;    
}

label span:nth-child(3) {
    top: 16px;   
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

.nav__container .burger-wrapper {
    display: none;
}

.icon-cart {
    font-size: 3rem;
    cursor: pointer;
}

/* === HOME === */ 
#home {
    margin: 12rem 0;
}

.home__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 6.7rem;
}

.home__content p {
    font-family: var(--font-paragraph);
    font-size: 2.4rem;
    line-height: 3.6rem;

}

/* .home__img {
    flex: 1 1 80rem;
} */

.btn-wrapper {
    display: block;
}

.btn-home {
    display: block;
    height: 4rem;
    padding: 0 3rem;

    border-radius: 26px;
    border: transparent;
    outline: transparent;
    cursor: pointer;

    font-family: var(--font-alternative);
    font-size: 1.4rem;
    font-weight: bold;

    color: #fff;
    background: var(--primary-color);
}

/* === Media Queries === */ 

@media (max-width:1024px) {
    
    /* === Menu === */
    .nav__container {
        padding: 0 1.5rem;
    }

    .nav__menu {
        position: fixed;
        top: 77px;
        left: -100%;
        width: 80%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        background: #fff;
        transition: 0.5s;
    }

    .nav__list {
        display: block;
    }

    .menu__item {
        margin: 20px 0px;
    }

    .logo  {
        order: 2;
    }

    .nav__container .burger-wrapper {
        display: flex;
        order: 1;
    }

    .nav__container .icon-cart {
        order: 3;
    }

    /* === show menu ===*/
    .show {
        left: 0;
    }


    /* === home === */ 
    .home {
        padding: 0 1.5rem;
    }
    .home__container {
        flex-direction: column;
        text-align: center;
        justify-items: center;
    }

    .home__content h1 {
        font-size: 3rem;
        line-height: 3.1rem;
    }

    .home__content p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        padding: 1rem 0;
    }

    .btn-home {
        margin: auto;
    }
}