/* ==== RESET === */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
} 
/* ==== VARIABLES === */
:root {
    /* font family */
    --title-font: 'Poppins', sans-serif;
    --body-font: 'Roboto', sans-serif;

    /* font color */
    --first-color: hsla(195, 100%, 60%, 1);
    --font-color-subtile: hsla(216, 26%, 41%, 1);
    --font-color-paragraph: hsla(216, 16%, 48%, 1);
    
    /*section color*/
    --font-color-section-title: hsla(216, 32%, 31%, 1);
    --font-color-nav: hsla(229, 11%, 33%, 1);
    --footer-color:  hsla(209, 45%, 29%, 1);
    --section-background-color: hsla(195, 25%, 97%, 1);

    /* icons colors */ 
    --icon-color: hsla(180, 94%, 42%, 1);

    /*font size */ 
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1.25rem;
    --paragraph-font-size: 1rem;
    --paragraph-second-font-size: calc(1rem - 1px);
}

/* ==== BASE === */
body {
    font: 400 1rem var(--body-font);
}

.section__title {
    font: 600 1.875rem var(--title-font);
    color: var(--font-color-section-title);
}

.circle-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    clip-path: circle();
    color: #fff;
    background-color: var(--first-color);
}
/* ICONS */
.icon {
    padding-right: 10px;
}

.icon-mensage {
    font-size: 17px;
}
.icon-phone {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.bxs-circle { /* tive que fazer uma gambiarra :( */
    padding-right: 8px;
    font-size: 12px;
    color: var(--first-color);
}

.icon-travel {
    font-size: 4rem;
    color: var(--first-color);
}

/* ==== LAYOUT === */
#header {
    width: 100%;
}

.grid {
    max-width: 930px;
    margin: 0 auto;
}

.header__container {
    padding: 10px 0 ;
    background-color: hsla(195, 100%, 99%, 1);
}
.header__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #8294A9;
}
.header__contact p {
    padding-right: 30px;
    font-size: 13px;
}

.header__social {
    display: flex;
    gap: 5px;
    cursor: pointer;
}
/* NAVEGATION */
#nav {
    width: 100%;
    background-color: #fff;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    padding: 18px 0 ;
    background-color: #fff;
}

.logo a {
    font-size: 1.625rem;
    font-weight: 600;
    color: var(--first-color);
}

.logo span {
    color: hsl(216, 37%, 32%);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu__item + .menu__item{
    padding-left: 2rem ;
}

.menu__link {
    font-size: .875rem;
    font-family: var(--title-font);
    line-height: 21px;
    color: var(--font-color-nav);
}

/* home */
#home {
    height: 46.125rem;
    background: linear-gradient(rgba(39, 91, 120, 0.7), rgba(39, 91, 120, 0.7)), url('assets/photos/backgrounds/img-home.png') no-repeat center;
    background-size: cover;
}
.container__home {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}

.home__title h1 {
    padding-bottom: 15px;
    font: 700 2.5rem/50px var(--title-font);
}

.home__title p {
    line-height: 24px;
}

.button {
    margin-top: 2.875rem;
}

.btn {
    padding: 15px 40px;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
    outline: transparent;
    border: none;
}

.btn-about {
    margin-right: .875rem;
    color: #fff;
    background-color: var(--first-color);
}

.btn-now {
    color: hsla(216, 37%, 32%, 1);
    background-color: #fff;
}
/* about */
#about {
    margin: 4.25rem 4.375rem 3.5rem 1rem;
}

.container__about {
    display: flex;
    justify-content: space-between;
}

.about__title p {
    line-height: 27px;
    color: var(--font-color-paragraph);
}

.about__list {
    margin-top: 1.875rem;
}

.about__list ul li {
    padding: 8px 0;
    color: hsla(216, 18%, 41%, 1);
}

.about__signature {
    margin-top: .75rem;
}

.about__signature h3 {
    font-size: 1.125rem;
    font-weight: 500;
    color: hsla(216, 17%, 43%, 1);
}

.about__signature p {
    color: hsla(216, 17%, 60%, 1);
}

.signature {
    padding-top: 1.125rem;
}

.about__square img + img {
    display: block;
    padding-top: 3.875rem;
}